select,
textarea,
input[type="tel"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"] {
     border: 1px solid #d1d1d1;
}

.bg-facebook {
     &:hover {
          box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5) inset;
     }
}

button {
     &.bg-white {
          &:hover {
               box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5) inset;
          }
     }
}

button {
     &.apple {
          &:hover {
               box-shadow: 0 8px 10px -5px rgba(255, 255, 255, 1) inset;
          }
     }
}

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//      display: none;
//      -webkit-appearance: none;
// }
textarea {
     resize: none;
}

/* Modal Css Here */
.vm-wrapper {
     .vm {
          max-width: 420px;
          border-radius: 8px;
          overflow: hidden;
     }

     .vm-titlebar {
          border: none;
          padding: 0 15px;
          overflow: hidden;

          button {
               color: #000;
               padding: 10px 0 0;

               &:focus-visible {
                    outline: none;
               }

               &:hover {
                    color: #DB6400;
               }
          }
     }

     .vm-content {
          padding: 0;

          .wrap-inner {
               padding: 0 32px;
          }

          .form-footer {
               background-color: #fff1dc;
          }
     }

}

.shadow-dropdown {
     min-width: 150px;
     right: initial;
     left: -15px;
     top: 98%;
     padding: 10px 15px;
     border: 1px solid rgba(219, 219, 219, 0.3);
     visibility: hidden;
     opacity: 0;
     z-index: -1;

     &.right-dropdown {
          right: -15px;
          left: initial;
     }
}

.it-has-dropdown {
     &:hover {
          >a {
               color: #DB6400;

               .profile-icon {
                    path {
                         fill: #DB6400;
                    }
               }

               .arrow-icon {
                    transform: rotate(180deg);

                    path {
                         stroke: #DB6400;
                    }
               }
          }

          .shadow-dropdown {
               opacity: 1;
               visibility: visible;
               z-index: 9;
          }
     }
}