select,
textarea,
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"] {
     border: 1px solid #d1d1d1;
}

select {
     appearance: none;
     -webkit-appearance: none;
}

.bg-facebook {
     &:hover {
          box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5) inset;
     }
}

button {
     &.bg-white {
          &:hover {
               box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5) inset;
          }
     }
}

button {
     &.apple {
          &:hover {
               box-shadow: 0 8px 10px -5px rgba(255, 255, 255, 1) inset;
          }
     }
}
.internal-banner {
     max-height: 470px;
}
.why-choose {
     z-index: 8;
     &:before {
          content: "";
          background: url(../images/left-dots.png) no-repeat center / contain;
          width:468px;
          height: 1415px;
          position: absolute;
          left: -10%;
          top: -25%;
          z-index: -1;
     }
     &:after {
          content: "";
          background: url(../images/right-dots.png) no-repeat center / contain;
          width:468px;
          height: 1415px;
          position: absolute;
          right: -10%;
          bottom: 0;
          z-index: -1;
     }
}
textarea {
     resize: none;
}

/* Drawer */
.drawer-layout {
     .drawer-overlay {
          z-index: -1;
          opacity: 0;
     }
     .drawer {
          z-index: 9;
          transform: translate(100%,0);
          width: 800px;
          .drawer-header {
               svg {
                    &:hover {
                         path {
                              fill:#DB6400;
                         }
                    }
               }
          }
          .drawer-content {
               h2 {
                    border-color: #d1d1d1;
               }
               form {
                    .file-wrapper {
                         label {
                              border: 1px solid #d1d1d1;
                         }
                    }
                    .field-wrap {
                         svg {
                              top: 12px;
                              left: 12px;
                         }
                    }
                    textarea {
                         height: 130px;
                    }
               }
          }
     }
     &.shown {
          .drawer-overlay {
               opacity: 0.8;
               z-index: 8;
          }
          .drawer {
               transform: translate(0,0);
          }
     }
}
/* Modal Css Here */
.vm-wrapper {
     .vm {
          max-width: 420px;
          border-radius: 8px;
          overflow: hidden;
     }

     .vm-titlebar {
          border: none;
          padding: 0 15px;
          overflow: hidden;

          button {
               color: #000;
               padding: 10px 0 0;

               &:focus-visible {
                    outline: none;
               }

               &:hover {
                    color: #DB6400;
               }
          }
     }

     .vm-content {
          padding: 0;

          .wrap-inner {
               padding: 0 32px;
          }

          .form-footer {
               background-color: #fff1dc;
          }
     }

}

.shadow-dropdown {
     min-width: 150px;
     right: initial;
     left: -15px;
     top: 98%;
     padding: 10px 15px;
     border: 1px solid rgba(219, 219, 219, 0.3);
     visibility: hidden;
     opacity: 0;
     z-index: -1;

     &.right-dropdown {
          right: -15px;
          left: initial;
     }
     &.center-dropdown {
          left: -60px;
     }
}

.it-has-dropdown {
     &:hover {
          >a {
               color: #DB6400;

               .profile-icon {
                    path {
                         fill: #DB6400;
                    }
               }

               .arrow-icon {
                    transform: rotate(180deg);

                    path {
                         stroke: #DB6400;
                    }
               }
          }

          .shadow-dropdown {
               opacity: 1;
               visibility: visible;
               z-index: 9;
          }
     }
}
@media screen and (max-width: 1439px) {
     .why-choose {
          &:before {
               width:468px;
               height: 1000px;
               left: -10%;
               top: -5%;
          }
          &:after {
               width:468px;
               height: 1000px;
               right: -10%;
               bottom: 5%;
          }
     }
     .copyright-menus {
          li {
               &:not(:first-child) {
                    margin-left: 35px;
               }
          }
     }
}
@media screen and (max-width: 1367px) {
     .why-choose {
          &:before {
               height: 700px;
          }
          &:after {
               height: 700px;
          }
     }
     .drawer-layout {          
          .drawer {
               width: 600px;
          }
     }
}
@media screen and (max-width: 1279px) {
     .why-choose {
          &:before {
               left: -15%;
          }
          &:after {
               right: -15%;
          }
     }
}
@media screen and (max-width: 1024px) {
     .why-choose {
          &:before {
               top: -30%;
               width: 300px;
          }
          &:after {
               bottom: 0;
               width: 300px;
          }
     }
}
@media screen and (max-width: 767px) {
     .why-choose {
          &:before {
               content: "";
               width:168px;
               height: 650px;
          }
          &:after {
               content: "";
               width:168px;
               height: 650px;
          }
     }
}
@media screen and (max-width: 639px) {
     .drawer-layout {          
          .drawer {
               width: 100%;
          }
     }
}