@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Code Starts Here */

/* Common Code Ends Here */

/* Header Css Starts Here */
.header-logo {
     width: 167px;
     height: 81px;
}
.header-logo img {
     height: 100%;
}
header nav ul li.active a {
     color: #DB6400;
}


/* Header Css Ends Here */


/* Media Queries */
@media screen and (max-width: 1280px) {
     .header-logo {
          height: 61px;
     }
}