@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Code Starts Here */
/* @media screen and (min-width: 1280px) and (max-width: 1366px) {
     .container {
          max-width: 1024px;    
     }
     .services-wrap .services-img {
          min-height: 476px!important;
     }
} */
/* Common Code Ends Here */

/* Header Css Starts Here */
.header-logo {
     width: 167px;
     height: 81px;
}
.header-logo img {
     height: 100%;
     max-width: none;
}
.header-wrapper nav ul li.active a {
     color: #DB6400;
}

.account-labels a:hover svg.profile-icon path {fill:#DB6400;}
/* Header Css Ends Here */
/* Banner Css Starts Here */
.banner-art {
     z-index: -1;
}
/* Banner Css Ends Here */

/* Featured Services Css Starts Here */
.feature-services .fs-img-wrap {
     width: 100px;
     height: 100px;
     background: -webkit-linear-gradient(143.81deg, #1DA599 16.67%, #23BE6A 113.15%);
     background: -moz-linear-gradient(143.81deg, #1DA599 16.67%, #23BE6A 113.15%);
     background: -ms-linear-gradient(143.81deg, #1DA599 16.67%, #23BE6A 113.15%);
     background: -o-linear-gradient(143.81deg, #1DA599 16.67%, #23BE6A 113.15%);
     background: linear-gradient(143.81deg, #1DA599 16.67%, #23BE6A 113.15%);
}
.home-professional .feature-services .fs-img-wrap {
     background: -webkit-linear-gradient(143.81deg, #DB6400 16.67%, #FFAF2C 113.15%);;
     background: -moz-linear-gradient(143.81deg, #DB6400 16.67%, #FFAF2C 113.15%);;
     background: -ms-linear-gradient(143.81deg, #DB6400 16.67%, #FFAF2C 113.15%);;
     background: -o-linear-gradient(143.81deg, #DB6400 16.67%, #FFAF2C 113.15%);;
     background: linear-gradient(143.81deg, #DB6400 16.67%, #FFAF2C 113.15%);;
}
.feature-services .fs-arrow {
     width: 50px;
     height: 50px;
     right: 36px;
     bottom: 24px;
     z-index: 5;
}
/* Featured Services Css Ends Here */

/* Become Pro Css Starts Here */

.home-professional .become-pro .container {
     background-color: #D9F0EE;
}
.become-pro .container {
     background: rgba(255, 195, 107, 0.24);
}
/* Become Pro Css Ends Here */

/* Work  Css Starts Here */
.how-it-works .work-counter {
     left: -25px;
     top: 130px;
}
/* Work  Css Ends Here */
.services-wrap .services-img {
     min-height: 580px;
}
.services-meta-wrap {
     background-color: rgba(0,0,0,0.64);
}
.how-images {
     max-width: 500px;
     max-height: 500px;
}
footer {
     background-color: #D9F0EE;
}
footer .footer-container {border-bottom: 1px solid #C1DCDA;}
.copyright-menus li,
.social-icons li {display: inline-block;}
.copyright-menus li:not(:first-child) {margin-left: 75px;}
.social-icons li:not(:first-child) {margin-left: 20px;}
.social-icons li a {width:40px; height: 40px;}
.social-icons li a svg {margin: auto; height: 38px;}

/* Media Queries */
@media screen and (min-width: 1024px) {
     .footer-description {
          max-width: 400px;
     }
     .it-has-dropdown:hover > a  .arrow-icon {transform: rotate(180deg);}
     /* .it-has-dropdown:hover > a {color: #DB6400;}
     .it-has-dropdown:hover > a  .profile-icon path {fill: #DB6400;}
     .it-has-dropdown:hover > a  .arrow-icon path { stroke: #DB6400;}
     .it-has-dropdown:hover > .shadow-dropdown {
          opacity: 1;
          visibility: visible;
          z-index: 9;
     } */
}
@media screen and (min-width: 1280px) {
     .how-it-works .container,
     .become-pro .container {
          max-width: 850px;
     }
     footer ul li a:hover {
          color: #DB6400;
     }
     .feature-services .featured-column:hover .fs-img-wrap img {transform:scale(1.2)}
     .feature-services .featured-column:hover .fs-arrow {background-color:#1DA599; transform: scale(1.05)}
     .home-professional .feature-services .featured-column:hover .fs-arrow {background-color:#DB6400; transform: scale(1.05)}
     .feature-services .featured-column:hover .fs-title {color:#1DA599;}
     .home-professional .feature-services .featured-column:hover .fs-title {color:#DB6400;}

     .feature-services .featured-column:hover .fs-arrow svg path {stroke:#ffffff;}
     .services .services-wrap:hover .services-img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
     }
}
@media screen and (min-width: 1440px) {
     .how-it-works .container,
     .become-pro .container {
          max-width: 1200px;
     }
}
@media screen and (max-width: 1439px) {
     .how-it-works .work-counter {
          left: -30px;
          top: 70px;
     }
     .services-wrap .services-img {
          min-height: 555px;
     }
}
@media screen and (max-width: 1365px) {
     .services-wrap .services-img {
          min-height: 544px;
     }
     .how-it-works .work-counter {
          left: -25px;
          top: 80px;
     }
     .feature-services .fs-arrow {
          width: 40px;
          height: 40px;
          right: 16px;
     }
     .feature-services .fs-img-wrap {
          width: 75px;
          height: 75px;
     }
}
@media screen and (max-width: 1279px) {
     .header-logo {
          height: 61px;
     }
     .services-wrap .services-img {
          min-height: 416px;
     }
     .how-it-works .work-counter {
          left: -20px;
     }
     .how-images {
          max-width: 300px;
          max-height: 300px;
     }  
     .how-it-works .work-counter {
          left: -40px;
          top: 75px;
          right: 0;
          width: 300px;
          margin: auto;
     }   
}
@media screen and (max-width: 1023px) {              
     .header-wrapper nav {
          top: 0;
          z-index: 9;
          left: 0;
          transform: translate(-270px,0);
          min-width: 250px;
          height: 100%;
          box-shadow: 0 0 20px -2px rgba(0,0,0,0.5);
          /* transition: transform 0.4s linear 0s; */
     }
     .header-wrapper nav.showMenu {
          transform: translate(0,0);
     }
     .header-wrapper nav li.it-has-dropdown .shadow-dropdown {
          left: 0;
          display: block;
          border: none;
          box-shadow: none;
          opacity: 1;
          visibility: visible;
          z-index: 9;
          display: none;
     }    
     .header-wrapper nav li.it-has-dropdown.shown .shadow-dropdown {display: block;}
     .header-wrapper nav li.it-has-dropdown.shown > a {
          color: #DB6400;
     }
     .header-wrapper nav li.it-has-dropdown.closed > a {
          color: #313131;
     }
     .header-wrapper nav li.it-has-dropdown.shown a svg.arrow-icon {
          transform: rotate(180deg)!important;
     }
     .header-wrapper nav li.it-has-dropdown.closed a svg.arrow-icon {
          transform: rotate(0deg)!important;
     }
     .header-wrapper nav li.it-has-dropdown.shown a svg.arrow-icon path {
          stroke: #DB6400;
     }
     .header-wrapper nav li.it-has-dropdown.closed a svg.arrow-icon path {
          stroke: #313131;
     }
     .services-wrap .services-img {
          min-height: 354px;
     }
    
     /* .how-it-works .work-counter {
          top: 100px;
     } */
     .social-icons li:not(:first-child) {margin-left: 10px;}
     .copyright-menus li:not(:first-child) {
          margin-left: 35px;
      }
}
@media screen and (max-width:992px) {
     /* .services-wrap .services-img {
          min-height: 354px;
      } */
}
@media screen and (max-width: 767px) {
     .services-wrap {
          max-width: 354px;
          margin-left: auto!important;
          margin-right: auto!important;
     }     
     .services-wrap .services-img {
          min-height: 250px;
     }
}
@media screen and (max-width: 639px) {
     .banner-bars {
          width: 80px;
          margin-top: 70px;
     }
     
     .vm-wrapper  .vm-content .wrap-inner {
          padding: 0 20px;
     }     
     .how-it-works .work-counter {
          top: 80px;
     }
}